/* main content */

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  line-height: 1.5em;
  color: #296073;
  background-color: #DCEBF1;
}

h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 25px;
}

/* table */

tbody {
  display: block;
  margin: 10px;
}

.task {
  border: 4px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.left {
 border-color: #00C2A8;

}

.right {
  border-color: #FF8066;
}

.left, .right {
  background-color: #FEFEDF;
}


/* buttons */

.btn-left {
  position: relative;
  left: 15px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px #296073;
  color: #DCEBF1;
  background-color: #00C2A8;
  border-radius: 5px;
  padding: 10px;
}

.btn-right {
  position: relative;
  left: 15px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px #296073;
  color: #DCEBF1;
  background-color: #FF8066;
  border-radius: 5px;
  padding: 10px;
}
