html {
  background: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1429&q=80")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container-wrapper, .container-btn {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: 50px;
    height: 50px;
}


button {
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  width: 150px;
  color: #ffffff;
  height: 50px;
  margin-left: 25px;
}


#button-start{
  background: #00856E;
}

#button-start:hover{
  background: transparent;
  transition: 200ms;
  transform: scale(1.1);
  border: 2px solid #EEE8A9;
  color: #EEE8A9;
}

#button-stop {
  background: #C75F6C;
}

#button-stop:hover {
  background: transparent;
  transition: 200ms;
  transform: scale(1.1);
  border: 2px solid #EEE8A9;
  color: #EEE8A9;
}
